.main-for-ct {
  max-width: 800px;
  margin: 0 auto;
}
.breakfast, .lunch, .dinner, .snacks {
  margin-bottom: 20px;
}
.stylingnav{
  margin-top: -30%;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.input-container {
  margin-bottom: 10px;
}
input[type="text"],
input[type="number"] {
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
.error {
  color: red;
  margin-bottom: 10px;
}
.hdd{
  color: #333;
  margin-top: -5%;
}
.breakfast h2,
.lunch h2,
.dinner h2,
.snacks h2,
.date {
  color: black;
}
.date{
  color: #333;
}
.btnnnn {
  background-color:  #F2994A; 
  color: white; 
  border: none;
  padding: 8px 16px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}
.btnnnn:hover {
  background-color: #333; 
  border: none;
}

